<!--<sca-menutab menu="appconf.menu" active="'about'" user="user"></sca-menutab>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h1>Life Demo</h1>
            <p>This UI allows you to runs Franco Pestilli's <a href="http://francopestilli.github.io/life/">Linear Fascicle Evaluation (LiFE)</a> Matlab application on Karst.</p>
            <p>Select an input data file (right now, there is only 1 listed) and click Submit button to run the application. Once the Job is completed (takes about 30 minutes) you will see the data products (PNG images) displayed.</p>
            <p>You can see <a href="https://soichi7.ppa.iu.edu/life/#/task/5697f679a48adac219d192a2">here</a> for sample output.</p>

            <hr>
            <form ng-submit="submit()" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Input Data</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="config.input" ui-select-required>
                            <ui-select-match placeholder="Please select data to process...">
                                <b>{{$select.selected.name}}</b> <small class="muted">({{$select.selected.url}})</small>
                            </ui-select-match>
                            <ui-select-choices repeat="data in datas">
                                <b>{{data.name}}</b> <small class="muted">({{data.url}})</small><br>
                                {{data.desc}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Some Config</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="config.something" class="form-control"></input>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn slide-down" ng-disabled="config.input == null">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <!--buffer-->
        </div>
    </div>
</div>


